.pie {
   --border:15px;
   --percentage:60;
   --color:purple;
   --w:150px;
   position: relative;
   width: var(--w);
   aspect-ratio: 1;
   display: inline-grid;
   place-content: center;
   margin: 5px;
   font-size: 25px;
   font-weight: bold;
   font-family: sans-serif;
 }
 .pie:before {
   content: "";
   position: absolute;
   border-radius: 50%;
   inset: 0;
   background: conic-gradient(var(--color) calc(var(--percentage)*1%),#0000 0);
   -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));
           mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));
 }